<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="dashboard">
      <h3>Welcome to dashboard</h3>
      <p><strong>Name:</strong> <%= user.name %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <form action="/logout" method="get">
        <button>Logout</button>
      </form>
    </div>
  </body>
</html>
