<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <form class="form" method="post" action="/signup">
      <h3>Sign Up</h3>
      <input type="text" placeholder="Name" name="name" required />
      <input type="text" placeholder="Email" name="email" required />
      <input type="text" placeholder="Password" name="password" required />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
